.htit {
    transition: 
        transform 0.3s ease, 
        box-shadow 0.3s ease, 
        filter 0.5s ease;
    margin: auto;
    display: block;
    padding-top: 200px;
    padding-bottom: 0;
    z-index: -2;
    width: 100vh;
    border-top: 10vh;
}
.htlaq_h {
    filter: grayscale(90%) blur(2px);
    transition: all 0.5s ease-in-out;
}
.htlaq_h:hover {
    filter: grayscale(0%);
}

.htlaq_p_container {
    margin: auto;
    display: block;
    width: 22vw;
    height: 29vw;
    position: relative;
    left: -50vw;
    border: 20px solid #00000041;
    border-radius: 20px;
    overflow: hidden;
    background: url('../htlaq/wp_back.png') center/cover no-repeat;
    box-shadow: 0 0 100px rgba(0, 0, 255, 0.6);
    align-items: center;
}
.htlaq_p_back {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none; 
}
.htlaq_p_front {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 2;
    pointer-events: none;
    animation: spin 20s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
.h_list {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    padding-left: 30vw;
    font-size: 1.5vw;
}
.hh {
    text-align: left;
    margin-left: 20vw;
    font-size: 50px;
    color: rgb(0, 0, 255);
    text-shadow: 0px 10px 20px black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
}

.htlaq_group {
    position: relative;
    width: 22vw;
    left: -20vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.htlaq_group .htlaq_p_container {
    width: 22vw;
    height: 28vw;
    left: 0;
    margin-bottom: 0;
}

.htit.under {
    width: 22vw;
    left: 0;
    margin-top: -1vw;
    position: relative;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 0;
}