@import url('https://fonts.googleapis.com/css?family=Jersey+10');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

a {
    text-decoration-color: red;
}
p {
    font-family: 'Workbench', sans-serif;
    color: rgb(187, 162, 162);
    text-align: center;
    font-size: 30px;
    line-height: 1.7;
    text-shadow: rgba(0, 0, 0, 0.455) 0px 0px 50px;
    letter-spacing: 0.8px;
}
.qa {
    line-height: 2;
}
p.h { /*h = HEADING*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    border-radius: 200px;
    box-shadow: 0 10px 20px rgba(44, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: 50px;
    position: relative;
    z-index: 1;
    display: block;
    border: 4px solid rgba(255, 0, 0, 0.4);
    margin: 20px auto;
    width: 80vw;
    max-width: 800px;
    font-size: 50px;
    text-shadow: 0px 0px 20px black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    font-family: "Jersey 10";
    animation: small_auto_drift 10s infinite alternate ease-in-out;
}
@keyframes small_auto_drift {
    0% {
        transform: translateX(3%);
    }    
    50% {
        transform: translateX(-3%)
    }
    100% {
        transform: translateX(3%);
    }
}
p.h:hover {
    box-shadow: 0 4vh 40px rgba(44, 0, 0, 0.8);
    color: rgb(196, 196, 196);
}
.left {
    text-align: left;
    margin-left: 400px;
}
p.h.left {
    transform: translateX(-400px);
    transition: transform 0.4s ease;
}
img {
    z-index: 10;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
}
video {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
    display: block;
    padding-top: 150px;
    padding-bottom: 100px;
    z-index: -2;
    width: 60vw;
    height: 60vh;
    border-radius: 999px;
    box-shadow: 0 -40px 30px -10px rgba(255, 0, 0, 0.6);
    border-top: 10vh;
    background-image: linear-gradient(black, rgba(255, 0, 0, 0.349));
}
body {
    background-image: linear-gradient(black, rgb(255, 0, 0));
    z-index: -4;
}
span {
    color: rgb(241, 219, 219);
}
.scary {
    color: rgb(241, 0, 0);
    text-shadow: 0px 5px 15px black;
}
.bott_int {
    transition: transform 2s ease, opacity 1s ease filter 1s ease;
    opacity: 0.5;
    margin: auto;
    display: block;
    block-size: 40%;
    position: relative;
    filter: blur(0px);
}
.bott_int:hover {
    transform: translateY(70px);
    animation: drift-left-right 0.3s infinite alternate ease-in-out;
    opacity: 0.1;         
    filter: blur(5px);       
}
@keyframes drift-left-right {
  0% {
    transform: translateY(100px) translateX(0);
  }
  50% {
    transform: translateY(80px) translateX(-50px);
  }
  100% {
    transform: translateY(90px) translateX(50px);
  }
}

.bott_auto {
    transition: transform 2s ease, opacity 1s ease filter 1s ease;
    opacity: 0.5;
    margin: auto;
    display: block;
    block-size: 40%;
    position: relative;
    filter: blur(0px);
    animation: auto_drift 5s infinite alternate ease-in-out;
}
@keyframes auto_drift {
    0% {
        transform: translateX(70%);
    }    
    50% {
        transform: translateX(-70%)
    }
    100% {
        transform: translateX(70%);
    }
}

.tit {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
    display: block;
    padding-top: 140px;
    padding-bottom: 0;
    z-index: -2;
    width: 60vh;
    height: 60vh;
    border-radius: 999px;
    border-top: 10vh;
}
.social-icons {
    display: flex;
    gap: 4vw;
    justify-content: center;
    align-items: center;
}

.social-icon {
    rotate: 0;
    width: 14vh;
    height: autopx;
    vertical-align: middle;
    transition: transform 0.5s;
}
.social-icon:hover {
    transform: rotate(5deg);
    filter:contrast(110%) brightness(110%);
}
.answers {
    opacity: 50%;
    transition: all 0.5s;
    padding: 0;
    
}
.answers:hover {
    opacity: 100%;
    padding: 1vw;
}
.space {
    letter-spacing: 0.5vw;
}
.topheading {
    padding: 50px;
}