.button {
    position: fixed;
    top: 10px;
    margin: auto;
    display: flex;
    z-index: 12;
    transition: object-position 1.2s;
    object-position: 0 -70px;
    width: 5vw;
    transform: translateX(-50%);
}
.border-up {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    display: flex;

    transition: object-position 1s;
    object-position: 0 -100px;
}

.outline {
    display: none;


    filter: sepia(1) saturate(10);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 20;
    pointer-events: none;
}


.home {
    left: 20vw;
}
.links {
    left: 30vw;
}
.prod {
    right: 25vw;
}
.shop {
    right: 15vw;
}


.bor_hov:hover .border-up, .bor_hov:hover .button{
    object-position: 0 0px;
}
.border-down {
    position: fixed;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    margin: auto;
    display:flex;
    pointer-events: none;
    pointer-events: none;
    
    transition: object-position 2s;
    object-position: 0 -30px;
}
.border-down:hover {
    object-position: 0 0px;
}
.border-up, .border-down {
    z-index: 10;
    width: 100vw;
    height: auto;
    object-fit: cover;
}