.gb {
    background-image: linear-gradient(black, rgb(71, 243, 137));
}
.gp {
    background-image: linear-gradient(black, rgb(255, 0, 191));
}
.bb {
    background-image: linear-gradient(black, rgb(0, 0, 255));
}
.green {
    filter: hue-rotate(120deg);
}
.pink {
    filter: hue-rotate(300deg);
}
.blue {
    filter: hue-rotate(240deg);
}
.gtit {
    box-shadow: 0 -40px 30px -10px rgba(0, 255, 21, 0.6);
}
.ptit {
    box-shadow: 0 -40px 30px -10px rgba(255, 0, 191, 0.6);
}
.btit {
    box-shadow: 0 -40px 30px -10px rgba(38, 0, 255, 0.6);
}