h1 {
    color: rgb(122, 0, 0);
    font-size: 30px;
    text-align: center;
    
}
h1:hover {
    color: rgb(223, 65, 65);
    font-size: 35px;
}

p {
    background-color: blue;
    color: aliceblue;
    text-align: right;
}