@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Jersey+10');
h1 {
    color: rgb(122, 0, 0);
    font-size: 30px;
    text-align: center;
}
h1:hover {
    color: rgb(223, 65, 65);
    font-size: 35px;
}
p {
    font-family: "Barrio";
    color: rgb(210, 197, 197);
    text-align: center;
    font-size: 30px;
}
p.h { /*h = HEADING*/
    background-image: linear-gradient(rgb(200, 100, 100), rgb(200, 60, 60)); 
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(150, 50, 50);
    font-family: "Jersey 10";
}
img {
    z-index: 10;
}
video {
    margin: auto;
    display: block;
    padding-top: 150px;
    z-index: -2;

    
}
body {
    background-image: linear-gradient(black, rgb(255, 0, 0));
    z-index: -4;
}
span {
    color: white;
}
.scary {
    color: red;
    text-shadow: 0 5px rgb(68, 0, 0);
}
.deratic {
    transition: width 1s, height 1s;
    opacity: 0.5;
    margin: auto;
    display: block;
    block-size: 40%;
}
.border-up {
    position: fixed;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    display: flex;

    transition: object-position 0.7s;
    object-position: 0 -140px;
}
.border-up:hover {
    object-position: 0 -30px;
}
.border-down {
    position: fixed;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    margin: auto;
    display:flex;
    
    transition: object-position 0.7s;
    object-position: 0 -30px;
}
.border-up,
.border-down {
    z-index: 9999;
    width: 100vw;
    height: auto;
    object-fit: cover;
}