.button {
    position: fixed;
    top: 0px;
    left: 50%;
    margin: auto;
    display:block;
    z-index: 12;

    transition: object-position 0.7s;
    object-position: 0 -50px;
}
.button:hover {
    object-position: 0 -10px;
}